.btn {
	all: unset;
	box-sizing: border-box;
	background-color: var(--text);
	color: var(--surface);
	cursor: pointer;

	display: inline-flex;
	justify-content: center;
	align-items: center;

	font-size: var(--size-4);
	text-align: center;

	padding: var(--size-2) var(--size-7);
	width: max-content;

	&:focus-visible {
		outline: 2px solid var(--blue-4);
		outline-offset: 2px;
	}

	&.ghost {
		background-color: transparent;
		color: var(--text);
		border: 1px solid var(--text);

		&.pressed {
			background-color: var(--text);
			color: var(--surface);
		}
	}
}
