.input-container {
	display: flex;
	flex-direction: column;
	gap: var(--size-2);
}

label {
	font-weight: var(--font-weight-3);
}

input,
textarea {
	background-color: transparent;
	border: 1px solid var(--text);
	padding: var(--size-2);
}

fieldset {
	border: none;
	padding: 0;
	display: flex;
	flex-direction: column;
	gap: var(--size-3);
}

legend {
	font-weight: var(--font-weight-4);
	font-size: var(--font-size-3);
}

.error {
	font-weight: var(--font-weight-3);
	text-align: center;
}

.field-description {
	font-size: var(--font-size-1);
	font-weight: var(--font-weight-3);
	line-height: var(--font-lineheight-1);
	font-style: italic;
}
