/* Typography */
.cursive {
	font-family: Ephesis, cursive;
}

.ta-center {
	text-align: center;
}

/* Layout */
.container {
	width: min(100%, var(--container-max-width, 1200px));
	padding-inline: var(--container-padding, var(--size-px-6));
	margin-inline: auto;
}

.flex {
	display: flex;
}

.flex-col {
	display: flex;
	flex-direction: column;
}

.align-center {
	align-items: center;
}

/* Spacing */
.space-top-1 {
	margin-block-start: var(--size-px-3);
}

.space-top-2 {
	margin-block-start: var(--size-px-7);
}

/* A11y */
.sr-only:not(:focus):not(:active) {
	position: absolute;
	overflow: hidden;
	width: 1px;
	height: 1px;
	clip: rect(0 0 0 0);
	clip-path: inset(100%);
	white-space: nowrap;
}

.decorative {
	pointer-events: none;
}
